body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, lightgreen, #12d8fa, orange);
}
button {
  width: 100px;
  border-radius: 20px;
}
.question {
  color: black;
  height: 100px;
  width: 200px;
  position: relative;
  top: 350px;
  left: 45%;
  background-color: silver;
  border: 5px solid gray;
  border-radius: 20px;
}
.app {
  text-align: center;
}
.buckets {
  height: 1px;
  width: 1px;
  position: relative;
  top: 300px;
  left: 50%;
}
.buckets div {
  position: absolute;
  animation: bucket_rotate 40s infinite linear;
  top: 63%;
  left: 45%;
}

@keyframes bucket_rotate {
  0% {
    transform: rotate(0) translateX(300px) rotate(0);
  }
  100% {
    transform: rotate(360deg) translateX(300px) rotate(-360deg);
  }
}
.buckets div:nth-child(2) {
  animation-delay: -10s;
}

.buckets div:nth-child(3) {
  animation-delay: -20s;
}

.buckets div:nth-child(4) {
  animation-delay: -30s;
}
